body{
    background-color: rgb(252, 243, 248);
}
h1{
    color: rgb(236, 11, 124);
    
}
.img{
    padding:50px 50px 50px;
    width: 350px;
    height: 350px;
    border-radius: 15%;
    padding-top:30px;
    padding-left:30px;
    padding-bottom: 30px;
    padding-right:30px;
    
}
/* .image{
    float: right;
} */

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#img1{
    padding-left: 180px;
}  
.img2{
    height: 100px;
    width:100px ;
} 

main ul{
    padding: 0;
    margin: 0  0  0  150px;
    list-style: none;
}
main li{
   float:left;
    text-align: center;
}
.content{
    padding: 16px;
}

.logo img{
position: absolute;

margin-left: 10px;
align-content: center;
margin-bottom: 15px;
}
#icons{
    color: aquamarine;
    padding: 20px;
}
.quote{
    clear: left;
    text-align: center;
    /* padding-right: 150px; */
}
#about{
     clear: right;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    
    
    }

/* }l STEMClubs@stem.org.uk. https://www.stem.org.uk/ https://stemforgirls.ca/ http://www.greenlightforgirls.org/ */