
body{
   background: pink;
    padding: 0;
    margin: 0;
}


nav{
   
    background: grey;
width: 100%;
overflow: hidden;


}
ul{
    padding: 0;
    margin: 0  0  0  150px;
    list-style: none;
}
li{
   float:left;
    text-align: center;
}

.logo img{
position: absolute;

margin-left: 10px;
align-content: center;
margin-bottom: 15px;
}

nav a{
    width: 120px;
    color: #ffffff;
    padding: 20px  15px;
  display: block;
  text-decoration: none;
  text-align: right;
}
nav a:hover{
    background-color:aquamarine;
    color: #000000;
    
}
.footer{
    background-color: gray;
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin: 0%;
   position: fixed;
   bottom: 0;
}
#icons{
    color: aquamarine;
    padding: 20px;
}
*{
    box-sizing: border-box;
}
input[type=text],
textarea{
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;


}
input[type=Submit] {
    background-color:grey;
    color: black;
    padding: 12px  20px;
    border: none;
    cursor: pointer;

}
input[type=Submit]:hover{
    background-color: aqua;

}
.Container{
    border-radius: 5px;
    padding: 15px;
}
/* create two columns that float next to each other*/
.Column{
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
/* clear floats after the column*/
.row:after{
    content: "";
    display: table;
    clear: both;
}
/*this makes the layout responsive. when the screen is less than 600px wide,
 the two columns stack on top of each other instead of next to each other*/
 @media screen and (max-width: 600px){
     .Column,
     input[type=Submit]{
         width: 100%;
         margin-top: 0;
     }
 }
